body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

.fozg-mentions {
  background: #efefef;
  padding: 10px;
  width: 600px;
  height: 120px;
  margin: auto;
}
.metionsWrap {
  width: 100%;
  height: 100%;
  /* border: 1px solid lightgray; */
  position: relative;  
}

.metionsWrap textarea {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: none;
  resize: none;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  padding: 0;
  background: transparent;
  color: transparent;
  caret-color: black;
  z-index: 2;
}


.metionsWrap .overley {
  z-index: 1;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  cursor: text;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left; 
  background: transparent; 
  pointer-events: none;
  margin: 0;
  padding: 0;
  
}
.metionsWrap .overley {
  /* background-color: lightblue; */
  /* color:rgb(18, 161, 18); */
  /* color: #000000; */
  margin: 0;
  padding: 0;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;   
  white-space: pre-wrap;
}


.metionsWrap .overley .mention {
  color: #4caf50;
  text-decoration: none;
  /* pointer-events: all; */
  
}

.metionsWrap .overley .typing {
  color: #2196f3;
  /* pointer-events: all; */
  
}



.suggestsWrap {
  position: absolute;
  z-index: 14;
  width: 250px; 
  border-radius: 5px; 
  border: 1px solid lightgray;
  background-color: #fff; 
  font-size: 12px;
  overflow: hidden;
  pointer-events: all;  
  color: gray;
}

.suggestsWrap .item {
  padding: 5px 15px; 
  border-bottom: 1px solid #efefef;
  cursor: pointer !important;
}

.suggestsWrap .item:hover, .suggestsWrap .item.active {  
  background: #ededed; 

}